<aside class="sidebar" role="complementary" aria-label="Primary Sidebar" itemscope itemtype="http://schema.org/WPSideBar">

  <!-- <section class="widget">
    <h3 class="widget-title">Layouts</h3>
    <ul class="menu">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-235"><a href="/full-width-content/" itemprop="url">Full Width Content</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-236"><a href="/sidebar-content/" itemprop="url">Sidebar Content</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-19 current_page_item menu-item-237"><a href="/content-sidebar/" itemprop="url">Content Sidebar</a></li>
    </ul>
  </section> -->

  <section class="widget">
    <h3 class="widget-title">Recent News</h3>
    <ul>
      <li><a href="/achieving-product-market-fit/">Achieving Product Market Fit</a></li>
      <li><a href="/understanding-your-customers/">Understanding Your Customers</a></li>
      <li><a href="/running-a-successful-campaign/">Running a Successful Campaign</a></li>
      <li><a href="/establishing-a-design-culture/">Establishing a Design Culture</a></li>
      <li><a href="/hello-world-2/">Making a great first impression</a></li>
    </ul>
  </section>

  <section class="widget mobile-hide">
    <img src="/images/jackson.png" alt="Alabama state map with Jackson county highlight">
  </section>

  <!-- <section class="widget">
    <h3 class="widget-title">Archives</h3>
    <ul>
      <li><a href="#">February 2016</a></li>
      <li><a href="#">January 2016</a></li>
    </ul>
  </section> -->

</aside>