<div class="subscribe">
  <div class="wrap">
    <section class="widget">

      <h3 class="widget-title editable">Subscribe for Jackson County Cow News</h3>

      <p class="editable">Enter your name and email address to stay up to date on the latest news.</p>

      <form action="#" method="post">

        <input type="text" value="" placeholder="First Name" name="Name">
        <input type="email" value="" placeholder="E-Mail Address" name="Email" required="required">
        <input type="submit" value="Go">

      </form>

    </section>
  </div>
</div>