/* Grid
-------------------------------------------------- */
.equal-heights > *,
.grid,
[class*='grid-'] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: 800px) {
    flex-direction: row;
  }
}

.grid > *,
[class*='grid-'] > * {
  align-self: stretch;
}

.equal-heights > * > * {
  flex-grow: 1;
  align-self: stretch;
  width: 100%;
}

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
  @media (min-width: 800px) {
    float: left;
    margin-left: 1.5625%;
  }
}

.one-half,
.three-sixths,
.two-fourths {
  @media (min-width: 800px) {
    width: 49.21875%;
  }
}

.one-third,
.two-sixths {
  @media (min-width: 800px) {
    width: 32.291666666667%;
  }
}

.four-sixths,
.two-thirds {
  @media (min-width: 800px) {
    width: 66.145833333333%;
  }
}

.one-fourth {
  @media (min-width: 800px) {
    width: 23.828125%;
  }
}

.three-fourths {
  @media (min-width: 800px) {
    width: 74.609375%;
  }
}

.one-fifth {
  @media (min-width: 800px) {
    width: 18.75%;
  }
}

.two-fifths {
  @media (min-width: 800px) {
    width: 39.0625%;
  }
}

.three-fifths {
  @media (min-width: 800px) {
    width: 59.375%;
  }
}

.four-fifths {
  @media (min-width: 800px) {
    width: 79.6875%;
  }
}

.one-sixth {
  @media (min-width: 800px) {
    width: 15.364583333333%;
  }
}

.five-sixths {
  @media (min-width: 800px) {
    width: 83.072916666667%;
  }
}

.first {
  margin-left: 0;
  clear: both;
}

.only {
  float: none;
  margin: 0 auto;
  overflow: hidden;
}
