/* Pricing Table
-------------------------------------------------- */

.pricing-table,
.pricing-table > * {
  display: flex;
  flex-wrap: wrap;
}

.pricing-table > * {
  align-self: stretch;
}

.pricing-table > * > * {
  flex-grow: 1;
  align-self: stretch;
  width: 100%;
}

.pricing-table .plan {
  position: relative;
  margin-bottom: 40px;
  padding: 40px 20px 20px;
  transition: all .2s ease-out;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0 0 0 2px #f0f0f0;
}

.pricing-table .plan em {
  display: block;
  margin-bottom: 20px;
  opacity: .5;
}

.pricing-table .plan h3 {
  color: $primary-color;
}

.pricing-table .plan h3 span {
  font-size: .66em;
}

.pricing-table .plan ul {
  margin: 0 0 40px;
  line-height: 2;
}

.pricing-table .plan ul li {
  list-style: none;
}

.pricing-table .plan p {
  align-self: flex-end;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 3;
}

.pricing-table .plan ul.small {
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .07em;
  text-transform: uppercase;
  opacity: .7;
}

.pricing-table .plan.featured {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 0 4px #999;
  z-index: 2;
}

@media only screen and (min-width: 800px) {
  .pricing-info {
    padding-top: 80px;
  }

  .pricing-table .plan {
    margin-bottom: 40px !important;
  }

  .pricing-table .plan.one-fourth {
    width: 50%;
    margin: -2px 0 0 -2px;
  }

  .pricing-table .plan.one-fourth:first-child,
  .pricing-table .plan.one-fourth:nth-child(3) {
    margin-left: 0;
  }

  .pricing-table .plan.one-third {
    width: 33%;
    margin: 0 0 0 -2px;
  }

  .pricing-table .plan.one-third:first-child {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .pricing-table .plan.one-fourth {
    width: 25%;
    margin: 0 0 0 -2px;
  }

  .pricing-table .plan.one-fourth:first-child {
    margin-left: 0;
  }

  .pricing-table .plan.one-fourth:nth-child(3) {
    margin-left: -2px;
  }
}
