/* Variables
-------------------------------------------------- */
$primary-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$secondary-font-family: 'Roboto Condensed', sans-serif;
$tertiary-font-family: Martel, serif;

$primary-color: #57e5ae;
$secondary-color: #12302e;
