.widget-area {
  margin-bottom: 40px;
  @media (min-width: 800px) {
    margin-bottom: 80px;
  }
}

.featured-content.widget .entry {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}

.featured-content .entry-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  @media only screen and ( min-width: 1024px) {
    font-size: 24px;
  }
}

.featured-content p {
  margin-bottom: 0;
}

.flexible-widgets .widget {
  margin-bottom: 20px;
}

.flexible-widgets .widget:last-child {
  margin-bottom: 0;
}

@media (min-width: 800px) {
  .flexible-widgets,
  .flexible-widgets .featured-content.widget .entry {
    display: inline-block;
    width: calc(100% + 20px);
    margin-right: -10px;
    margin-left: -10px;
  }

  .flexible-widgets .featured-content.widget > .entry,
  .flexible-widgets .widget {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
  }

  .flexible-widgets.widget-fourths .widget {
    width: 25%;
  }

  .flexible-widgets.widget-halves .widget {
    width: 50%;
  }

  .flexible-widgets.widget-thirds .widget {
    width: 33.33%;
  }

  .flexible-widgets.widget-fourths .widget:nth-child(4n+1),
  .flexible-widgets.widget-halves .widget:nth-child(even),
  .flexible-widgets.widget-thirds .widget:nth-child(3n+1) {
    clear: left;
  }
}

/* Front Page 1
-------------------------------------------------- */

.front-page-1 {
  margin: 40px auto;

  .widget-area {
    margin-bottom: 0;
  }

  .widget-title {
    font-size: 40px;
    @media only screen and (min-width: 1024px) {
      font-size: 90px;
    }
  }

}

/* Front Page 2
-------------------------------------------------- */

.front-page-2 {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  @media (min-width: 800px) {
    margin-top: 60px;
  }

  .featured-content .entry {
    position: relative;
    padding: 0;
  }

  .featured-content article a {
    display: block;
    margin: 0;
  }

  .featured-content .entry-title {
    padding: 20px;
  }

  article::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%); /* Firefox 3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%); /* W3C, IE 10+, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    content: ' ';
    z-index: 2;
    pointer-events: none;
  }

  article .entry-header {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 3;

    .entry-title {
      margin: 0;
    }

    a {
      display: block;
      width: 100%;
      color: #fff;
    }

  }

  .widget-area {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    position: relative;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 60px;
  }

}


/* Front Page 3
-------------------------------------------------- */

.front-page-3 .widget-area {
  margin-bottom: 60px;
}

/* Front Page 6
-------------------------------------------------- */

.front-page-6 {

  .widget {
    @media (min-width: 800px) {
      position: relative;
      margin-left: 1.5625%;
      padding-left: 32.291666666667%;
    }
  }

  .widget-title {
    color: $primary-color;
    @media (min-width: 800px) {
      position: absolute;
      left: 0;
      width: 32.291666666667%;
      padding-right: 40px;
    }
  }

}

/* Front Page 8
-------------------------------------------------- */

.front-page-8 .featuredpage .alignleft,
.front-page-8 .featuredpage .alignright {
  width: 100%;
  margin: 0 auto 20px;
  @media (min-width: 800px) {
    max-width: 63.4%;
  }
}

@media (min-width: 800px) {
  .front-page-8 .flexible-widgets .widget {
    margin-bottom: 60px;
  }

  .front-page-8 .flexible-widgets .widget:last-child {
    margin-bottom: 0;
  }

  .front-page-8 .featuredpage .alignleft {
    margin-right: 7.6822916667%;
    margin-left: -13.4%;
  }

  .front-page-8 .featuredpage .alignright {
    margin-right: -13.4%;
    margin-left: 7.6822916667;
  }
}

.stockyard-image {
  order: 2;
  @media (min-width: 800px) {
    order: 1;
  }
}

.stockyard-reports {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  order: 1;
  @media (min-width: 800px) {
    margin-bottom: 0;
    order: 2;
  }

  .entry-header,
  .entry-content {
    @media (min-width: 800px) {
      margin-left: 20px;
    }
  }

}

/* Front Page 10
-------------------------------------------------- */

.front-page-10 .widget-area {
  margin-bottom: 0;
}
